<div class="comment" id="<%= comment._id %>">
    <div class="comment-info">
        <a id="commentUsername" class="username" href="/profile?username=<%= comment.user %>" style="font-weight: bolder;"><%= comment.user %></a>
        <span class="timestamp">• <%= comment.date %><%= (comment.edited === true) ? " • Edited" : "" %> </span>
    </div>
    <div class="comment-collapsible">
        <div class="comment-content" style="color: rgb(176, 178, 181);">
            <%= comment.content %>
        </div>
        <div class="comment-actions">
            <button class="comment-action reply">
                <span class="post-sprite comment-reply reply"></span>
                <span class="count reply">Reply</span>
            </button>
            <% if (comment.content !== "[removed]") { %>
                <button class="delete">
                    <span><img src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png" alt="Delete icon" width="15px" height="15px" style="filter: invert(100%);" class="delete"/></span>
                    <span class="count delete">Delete</span>
                </button>
                <button class="count edit-button">Edit</button>
            <% } %>
        </div>
        <div class="comment-reply-box">
            <textarea id="comment-box" class="reply-box" placeholder="What are your thoughts?"></textarea>
            <button class="submit-reply">Submit</button>
        </div>
        
        <% children = comments.filter( (child) => comment._id.equals(child.parent) ) %>
        <% children.forEach((child) => { %>
            <div class="comment-children">
                <%- include("comment.ejs", {comment: child, children: children}) %>
            </div>
        <% }) %>
    </div>
</div>