<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit - Dive Deep!</title>
    <link rel="stylesheet" href="css/home/main.css">
    <link rel="stylesheet" href="css/home/navbar.css">
    <link rel="stylesheet" href="css/home/Side-bar.css">
    <!-- For the font style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap">
    <link rel="icon" href="https://www.redditinc.com/assets/images/site/reddit-logo.png">

</head>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar.ejs')%>
    <div class="container">
        <!-- Side-bar -->
        <%- include('partials/sidebar.ejs')%>


        <div class="main-content">

            <div class="scrollable-subreddits">
                <ul>
                    <li>
                        <div class="subreddit-container">
                            <di>
                                <img src="assets/home/tennis-button.png" alt="" srcset="">
                            </di>
                            <div class="subreddit-name">
                                <h3> <%= subreddits[0] %></h3>
                                <p> <%= descs[0]  %></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="subreddit-container">
                            <di>
                                <img src="assets/home/tennis-button.png" alt="" srcset="">
                            </di>
                            <div class="subreddit-name">
                                <h3> <%= subreddits[0] %></h3>
                                <p> <%= descs[0]  %></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="subreddit-container">
                            <di>
                                <img src="assets/home/tennis-button.png" alt="" srcset="">
                            </di>
                            <div class="subreddit-name">
                                <h3> <%= subreddits[0] %></h3>
                                <p> <%= descs[0]  %></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>