<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home/main.css">
        <link rel="stylesheet" href="css/home/navbar.css">
        <link rel="stylesheet" href="css/home/Side-bar.css">
        <link rel="stylesheet" href="css/profile/profilebar.css">
        <link rel="stylesheet" href="css/profile/filterbar.css">
        <link rel="stylesheet" href="css/profile/profilestats.css">
        <link rel="stylesheet" href="css/profile/profileposts.css">

        <!-- For the font style -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap">
        <link rel="icon" href="https://www.redditinc.com/assets/images/site/reddit-logo.png">

        <!-- Script -->
        <script src="scripts/profile.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <%- include('partials/navbar.ejs')%>
        <!-- Profile bar -->
        <%- include('profile/partials/profilebar.ejs')%>
        <!-- Filter bar -->
        <%- include('profile/partials/filterbar.ejs')%>
        <!-- Profile stats -->
            <!-- Static information on the ejs partial -->
        <%- include('profile/partials/profilestats.ejs')%>
        <!-- Profile posts -->
        <div id="posts-container">
            <% postsList.forEach(post => { %>
                <div class="profile-posts">
                    <div class="post" id="<%= post.id %>">
                        <div class="vote">
                            <div class="upvote">
                                <button class="upvote-button"><img src="https://cdn-icons-png.flaticon.com/512/25/25637.png" alt="up-arrow" width="15px" height="15px" /></button>
                            </div>
                            <div class="score">
                                <span class="score">
                                    <%= post.upvotes %>
                                </span>
                            </div>
                            <div class="downvote">
                                <button class="downvote-button"><img src="https://cdn-icons-png.flaticon.com/512/61/61932.png" alt="down-arrow" width="15px" height="15px" /></button>
                            </div>
                        </div>
                
                        <!-- Make this into a list  -->
                        <div class="post-container">
                            <div class="post-details">
                                <div class="post-date">
                                    <span class="post-date-sub">
                                        Posted by <%= user.username %>
                                    </span>
                                </div>
                            </div>
                            <div class="post-information">
                                <div class="post-header">
                                    <%= post.title %>
                                </div>
                                <div class="post-body">
                                    <%= post.body %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </body>
</html>